//////////////////////////////////////component MAIN/////////////////////////////////
.wrapper{
  background-image: url('../img/background-group-1-2.jpg');
  background-repeat: no-repeat;
}


/////////////////////////////////////////gallery image////////////////////////////////////
.page-header {
  height: 450px !important;
  .react-3d-carousel{
    margin-top: 100px !important;
    img{
      width: 680px;
      height: 340px;
    }
    .preactive{
      .slider-single-content{
        left: -100px !important;
      }
    }
    .proactive{
      .slider-single-content{
        left: 100px !important;
      }
    }
    .slider-right{
      div{
        border-radius: 50%;
        border: none;
      }
      div:hover{
        background-color: #ccd3bf;
        opacity: 0.3;
      }
    }
    .slider-left{
      div{
        border-radius: 50%;
        border: none;
      }
      div:hover{
        background-color: #ccd3bf;
        opacity: 0.3;

      }
    }
  }
  
}
///////////////////////////////////////////HeadPhone///////////////////////////////////////
