.navbar-horizonal{
    position: fixed !important;
    z-index: 100 !important;
    width: 84vw;
    height: 60px;
    .input-group{
        ////Respon//
        margin-left: 9vw;
        padding-top: 10px;
        width: 33vw;  
    }
    .input-group-text{
        height: 38px;
        border: 1px solid $danger !important;
        border-right: none !important;
        border-radius: 30px 0 0 30px !important;
        i{
            font-size: 20px;
        }
    }
    input {
        border: 1px solid $danger !important;
        border-left: none !important;
        border-radius: 0 30px 30px 0 !important;
    }
    .navbar-nav{
        position: relative !important;
        left: 20vw;
        .nav-item{
            img{
                border-radius: 50%;
                width: 45px;
                height: 45px;
                position: relative;
                bottom: 10px;
            }
            button{
                width: 110px;
            }
        }
    }
}
.navbar-horizonal-background{
    background: transparent !important;
}
.navbar-horizonal-background-scroll{
    background: url('../../assets/img/background-group-2-2.jpg') !important;
}